@import "tailwindcss";

@utility container {
  margin-inline: auto;
  max-width: 1296px;
}

@theme{
  /* color */
  --color-parmirycolor: #F8F8F8;
  --color-fontc:#4B5563;
  --color-fontcol:#111827;

  /* font */
  --font-Poppin:"Poppins", sans-serif;
}


.banner {
  position: relative;
}

.banner .slick-dots {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

/* Default dot */
.banner .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  border: 1px solid black;
  transition: all 0.3s ease;
}

/* Active dot */
.banner .slick-dots li.slick-active button {
  background: black !important;
  transform: scale(1.2);
}

.exploring .slick-dots {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.exploring .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  border: 1px solid black;
  transition: all 0.3s ease;
}

.exploring .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  border: 1px solid black;
  transition: all 0.3s ease;
}
.exploring .slick-dots li.slick-active button {
  background: black !important;
  transform: scale(1.2);
}
.slider-container{
  position: relative;
}

.exploring .slick-slide > div {
  padding: 0 15px;
}
